---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
---

<Layout title={`404 | ${SITE.title}`} description="page not found">
  <main>
    <div class="not-found-wrapper">
      <h1>404</h1>
      <span>we all know what this means&hellip;</span>
      <p>page not found</p>
      <button
        class="text-lg focus-outline mb-2 mt-4 flex hover:opacity-75"
        onclick="history.length === 1 ? location = '/' : history.back()"
      >
        <svg xmlns="http://www.w3.org/2000/svg">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/>
        </svg>
        <span>go back</span>
      </button>
    </div>
  </main>
</Layout>

<style>
  main {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
