<button
  id="back-to-top"
  class="focus-outline whitespace-nowrap py-1 hover:opacity-75"
>
  &uarr; back to top
</button>

<script is:inline data-astro-rerun>
  document.querySelector("#back-to-top")?.addEventListener(
    "click", () => document.documentElement.scrollTop = 0
  );
</script>
