<button
  id="back-to-top"
  class="focus-outline whitespace-nowrap py-1 hover:opacity-75"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90">
    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/>
  </svg>
  <span>back to top</span>
</button>

<script is:inline data-astro-rerun>
  function backToTop() {
    document.querySelector("#back-to-top")?.addEventListener("click", () => {
      document.body.scrollTop = 0; // for Safari
      document.documentElement.scrollTop = 0; // for Chrome, Firefox, and Opera
    });
  }
  backToTop();
</script>
