---
import type { CollectionEntry } from "astro:content";
import { SITE } from "@config";

export interface Props {
  href?: string,
  data: CollectionEntry<"songs">["data"],
}

const { data } = Astro.props;
---

<li>
  <div class="song-card">
    <div class="inline-block text-lg font-medium">
      <h2 class="text-lg font-medium">{data.title}</h2>
    </div>

    <p class="opacity-75">{data.composer ?? SITE.author}</p>

    <audio
      class="pt-1"
      src={data.source}
      preload="metadata"
      controls
    />
  </div>
</li>

<style>
  .song-card {
    @apply bg-skin-card-muted rounded-lg p-3;
  }
</style>
